// Colors 
$color-white: #FFFFFF;
$color-main-blue: #0D606F;
$color-main-blue-dark: #094a55;
$color-main-orange: #F2785C;

// Fonts 
$font-red-hat: 'Red Hat Text', sans-serif;
$font-aleo: 'Aleo', serif;