.footer {
    padding: 22px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: $color-white;
    font-family: $font-red-hat;
    font-weight: 500;
    font-size: 1rem;

    &__icons {
        display: flex;
        gap: 20px;
        position: absolute;
        right: 0;
    }
}

@media screen and (max-width: 675px) {
    .footer {
        padding: 13px 0;

        &__text {
            display: none;
        }

        &__icons {
            justify-content: space-between;
            position: static;
            gap: 25px;
        }
    }
}